<h1>BURGERS!</h1>



<h2>ADD A BURGER</h2>
<form class="create-form">

    <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="text" id="bu" name="name">
    </div>

    <button type="submit">Add Burger to list</button>
</form>

<h2>UNREALIZED LIFEGOALS</h2>

<ul>
    {{#each burgers}} {{#unless devoured}} <ul>{{burger_name}}<button class="eatit" data-id="{{this.id}}" data-devoured="{{devoured}}">DEVOUR.THIS.BURGER.</button></ul> {{/unless}} {{/each}}
</ul>



<h2>LIFEGOALS:  MET</h2>

<ul>
    {{#each burgers}} {{#if devoured}} <ul>{{burger_name}}<button class="purgeit" data-id="{{this.id}}" data-devoured="{{devoured}}">PURGE.THIS.BURGER.</button>
</ul>{{/if}} {{/each}}
</ul>

